<div *ngIf="isBrowser" class="page-container">
  <!-- Colonne gauche : Éditeur de code -->
  <div class="code-editor-wrapper">
    <div class="code-editor-header">
      <div class="language-selector">
        <label for="language">Language:</label>
        <select
          id="language"
          [(ngModel)]="selectedLanguage"
          (change)="updateLanguage()"
        >
          <option
            *ngFor="let lang of languages"
            [value]="lang.value"
          >{{ lang.name }}</option>
        </select>
      </div>
      <!-- Bouton d'envoi -->
      <div class="actions">
        <button (click)="sendCode()" [disabled]="isLoading">
          <span *ngIf="!isLoading">Execute</span>
          <div *ngIf="isLoading" class="spinner-inline"></div>
        </button>
      </div>
    </div>

    <div class="code-editor-container">
      <div #editorContainer class="editor-container"></div>
    </div>
  </div>

  <!-- Colonne droite : Inputs et Outputs -->
  <div class="io-container">
    <div class="inputs-container">
      <h3>Inputs</h3>
      <textarea
        [(ngModel)]="userInput"
        rows="6"
        placeholder="Enter inputs here"
      ></textarea>
    </div>
    <!-- Résultat de l'exécution -->
    <div class="output-container">
      <div class="output-header">
        <h3>Output</h3>
        <span
          *ngIf="!isLoading && status === 'success'"
          class="status success"
        >✔</span>
        <span
          *ngIf="!isLoading && status === 'failed'"
          class="status failed"
        >✖</span>
        <div *ngIf="isLoading" class="spinner-inline"></div>
      </div>
      <hr class="divider" />
      <div class="output">{{ output }}</div>
      <div *ngIf="status === 'success'" class="execution-info">
        Compiled and executed in
        <strong class="execution-time">{{ executionTime }} sec(s)</strong>, using
        <strong class="execution-time">{{ memoryUsage }} Ko</strong> in memory space.
      </div>
    </div>
  </div>
</div>
